@model List<Lecture_3.Models.Entity.Products>

@{ ViewBag.Title = "AddCart"; }

<h2>Add To Cart</h2>

<form action="/product/AddCart" method="post">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            
            <th>Price</th>
            <th>Description</th>
        </tr>
        @foreach (var p in Model)
        {

<tr>


    <td>@p.ID</td>
    <td>@p.Name</td>
    
    <td>@p.Price</td>
    <td>@p.Description</td>


</tr>
        }
    </table>

    </form>
