
@{
    ViewBag.Title = "List2";
}

<h2>Education</h2>

<table>
    <tr>
        <th>Institution</th>
        <th>  Level</th>

    </tr>
    <tr>
        <td>AIUB</td>
        <td>BSc.CSE</td>

    </tr>

    <tr>
        <td>Bangladesh Navy College</td>
        <td>HSC</td>

    </tr>

    <tr>
        <td>Kutuba Secondary School        </td>
        <td>SSC</td>

    </tr>

</table> 